.account-super-div {
    display: grid;
    grid-gap: 1em;
}

.account-div {
    background-color: rgba(255, 255, 255, .8);
    width: 80vw;
    padding: 1em;
    border-radius: 1em;
}

.account-title {
    font-weight: bold;
    font-size: 24px;
    color: darkgreen;
}

.food-card {
    max-height: 250px;
    grid-template: 1fr 1fr / 1fr;
}

.recipe-delete {
    left: 294px;
    top: -274px;
}