form {
    margin-top: 30vh;
    background-color: white;
    border: solid blue 2px;
    border-radius: 8px;
    padding: 16px 32px;
    gap: 16px;
    align-self:center;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 2fr;
    font-size: 16px;
}

.submit {
    grid-column: 1 / 3;
    margin: 0 4em;
}

form p {
    margin: 8px;
}