header {
    display: grid;
    grid-template-columns: 10em 1fr;
    background-image: linear-gradient(to right, green, green, white);
    padding: .5em;
    margin: 1.5em;
    font-size: 1.5em;
    border-radius: 4px;
}

.logo {
    height: 2em;
}
.logo-img {
    height: 100%;
    margin-left: 8px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
}
.navbar a {
    margin: 0 2.5em;
}