.recipe-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-super-div {
    margin-bottom: -50px;
}

.food-card {
    width: 320px;
    height: 320px;
    background-color: beige;
    padding: 16px;
    margin: 4px;
    border-radius: 16px;
    display: grid;
    grid-template: 1fr 1fr 42px / 1fr;
}
.food-card:hover {
    padding: 14px;
    border: solid green 2px;
}

.food-img {
    max-width: 320px;
}

.food-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    overflow: hidden;
}

.recipe-img {
    max-height: 50px;
    border-radius: 25px;
    position: relative;
    top: -66px;
}
.recipe-img:hover {
    background-color: lightgray;
}

.recipe-star {
    left: 16px;
}

.recipe-delete {
    left: 244px;
}

.recipe-end-div {
    width: 320px;
    height: 320px;
    padding: 16px;
    margin: 4px;
}

.recipe-end-div-sub {
    padding: 24px;
    margin: 32px;
    background-color: beige;
    border-radius: 16px;
    display:grid;
}

#add-one-recipe {
    font-size: 16px;
    padding: 8px;
}

.save-week-form {
    display: grid;
    grid-gap: 8px;
}

.save-week-form input, .save-week-form button {
    font-size: 16px;
}