body {
    margin: 0;
    background-image: url("pexels-enginakyurt-1435895.jpg");
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: inherit;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errormsg {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
}