<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mealplan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>
<body>

    <header>
        <a href="/">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Mealplan Logo" class="logo-img">
                <p class="logo-title">Mealplan</p>
            </div>
        </a>

        <nav class="navbar">
            <a href="/">Startseite</a>
            <a href="/wochenplan">Wochenplan</a>
            {% if session["user"] %}
                <a href="/account">Account</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/register">Registrieren</a>
                <a href="/login">Login</a>
            {% endif %}
        </nav>

    </header>
    
    <div class="body">

        {% block body %}
        {% endblock %}
        
    </div>

    {% block error %}
    {% endblock %}

</body>
</html>