<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mealplan</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/forms.css">
    <link rel="stylesheet" href="/static/recipes.css">
</head>
<body>

    <header>
        
        <div id="logo">Mealplan</div>

        <nav class="navbar">
            <a href="/">Startseite</a>
            <a href="/wochenplan">Wochenplan</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>

    </header>
    
    <div class="body">

        {% block body %}
        {% endblock %}
        
    </div>

</body>
</html>