{% extends "layout.html" %}

{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='recipes.css') }}">

    <div class="recipe-wrapper">

        {% for recipe in data %}
            <div class="recipe-super-div" id="{{ recipe.id }}">
                <a href="{{ recipe.siteUrl }}" target="_blank">
                    <div class="food-card">
                        <img src="{{ recipe.image }}" alt="Bild" class="food-img">
                        <div class="food-title">{{ recipe.title }}</div>
                    </div>
                </a>
                <img src="{{ url_for('static', filename='star.png') }}" class="recipe-img recipe-star" alt="Like" id="{{ recipe.id }}">
                <img src="{{ url_for('static', filename='delete.png') }}" class="recipe-img recipe-delete" alt="Delete">
            </div>
        {% endfor %}

        <div class="recipe-end-div">
            <div class="recipe-end-div-sub">
                <button id="add-one-recipe">Ein Rezept hinzufügen</button>
            </div>
            <div class="recipe-end-div-sub">
                <form class="save-week-form">
                    <input type="text" placeholder="Name">
                    <button id="save-week">Wochenplan speichern</button>
                </form>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='wochenplan.js') }}"></script>

{% endblock %}